@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Jost", sans-serif;
}

body {
    position: relative;
}

::selection {
    background-color: #3f6212;
    color: white;
}

::-webkit-selection {
    background-color: #3f6212;
    color: white;
}

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@keyframes left-to-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes header-anm {
    0% {
        transform: translateY(-30px);
    }

    100% {
        transform: translateY(0);
    }
}

.animation-header {
    animation: header-anm .35s linear;
}

.animate-left-right {
    animation: left-to-right .25s linear;
}

.animate-left-right-reverse {
    animation: left-to-right .25s linear reverse;
}